{% block style %}
<style>
    .dropdown-menu>a:hover {
        background: rgba(66, 65, 65, 0.5) !important;
    }
</style>
{% endblock %}
{% block header %}
<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="{% url 'index' %}">Beranda</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto"></ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">Tentang Saya</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'portofolio' %}">Portofolio</a>
            </li>
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                    Tugas BelingId
                </a>
                <div class="dropdown-menu bg-dropdown">
                    <a class="dropdown-item">Activity Model</a>
                    <a class="dropdown-item" href="{% url 'guest_form' %}"><span class="fa fa-check"></span> Guest Form </a>
                    <a class="dropdown-item" href="{% url 'result_table' %}"><span class="fa fa-check"></span> Result Table </a>
                </div>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'chat' %}">Chat</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModalCenter" style="cursor:pointer">Kontak
                    Langsung</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'auth_process_logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'auth_login' %}">Login</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endblock %}